* {
  padding: 0;
  margin: 0;
  transition: 0.4s all;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #4e4c4c;
  background-image: url("../images/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

ul {
  list-style-type: none;
}

.container {
  padding-top: 30px;
  background-color: rgba(211, 211, 227, 0.678);
  border-radius: 20px;
  text-align: center;
  padding: 30px;
}

.main-row {
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

#city-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#city-input {
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
  outline: gray;
}

#search,
#current-geolocation {
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  transition: 0.4s;
}

#city-input::placeholder {
  font-size: 16px;
}

.left-column {
  text-align: left;
}

.city {
  font-size: 32px;
  text-transform: capitalize;
  text-align: left;
}

.centered {
  text-align: center;
}

.temperature {
  font-size: 28px;
}

.feel-temperature {
  font-size: 20px;
}

.celcius,
.farenheit {
  cursor: pointer;
  color: #4e4c4c;
}

.celcius:hover,
.farenheit:hover {
  transform: scale(1.5);
}

.active-degree {
  color: #212529;
}

.divider {
  font-size: 21px;
}

.date,
.time,
.week-day {
  font-size: 20px;
}

.forecast {
  padding-top: 20px;
}

.description-item {
  margin-bottom: 10px;
  color: #585555;
}

.current-item {
  color: black;
}

.description-list {
  width: 280px;
  margin: 0 auto;
  text-align: right;
}

.image-column {
  text-align: center;
  margin: 0 auto;
}

.weather-image {
  width: 150px;
}

.city:hover,
.fa-solid:hover,
.description-item:hover {
  color: #7a7676;
}

.source-link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

.source-link:hover {
  text-decoration: underline;
  color: gray;
}

.temp-min {
  opacity: 0.8;
}
